.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*

dist/
node_modules/
coverage/
src/**/*.spec.ts

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.idea/
.vscode/

*.tsbuildinfo

/snapbuy-frontend/node_modules/
/snapbuy-frontend/dist/
/snapbuy-frontend/.angular/cache/
/snapbuy-frontend/.angular/config.json
/snapbuy-frontend/.env

*.tgz
*.tmp
.cache/
.angular/

*.zip
*.bak
*.swp
*.swo
*.sqlite
